<p id="logo"><%= image_tag "logo.png" %></p>

<div id="background">
	<div id="phone_screen">
		<div id="phone_area">
			<div id="success_dialog" style="display: none;">
				<a href="#" onclick="$('#success_dialog').shrink();$('#success_dialog').jqmHide();"><%= image_tag("okbuttontransparent.png", :class => "transparent_link")%> </a>
			</div>
		
			<div id="registration_screen">
				<%= render :partial => 'event' %>
			</div>
		
			<div id="location_screen" style="display:none">
				<%= render :partial => 'location_screen' %>
			</div>
			
			<div id="registrations" style="display:none">
				<%= render :partial => 'registration', :collection => @event.registrations %>
			</div>
		</div>
		
		<a href="#" id="google_group_link"><%= image_tag "google_group.png", :id => "registrations_link", :style => "padding-left:6px; padding-top:7px; border:none;" %></a>
		
	</div>
</div>

<%= render :partial => "location_javascript", :locals => {:location => @event.location } %>
